$base_bg_color = #ccdfcc // цвет бэкграунда
// $inverse_bg_color = #fff // инверсный цвет бэкграунда
$text_color = #6e7c6e // цвет текста
$inverse_text_color = #fff // инверсный цвет текста
$important_color = #0c555d // важный цвет
// $minor_color = #FBAF3F // второстепеннный цвет
$input_bg = #fff // цвет бэкграунда полей форм
$h_color = $important_color // цвет заглавий

// цвета ссылок в различных состояних
$link_color = $important_color
$link_hover_color = $important_color
$link_visited_color = $important_color
$link_focus_color = $important_color
$link_active_color = $important_color

// цвета при выделении
$selection_bg_color = $important_color
$selection_color = #fff

$base_font = 'Sensation'
$base_font_size = .813em
$base_line_height = 1.6

$addition_font = $base_font
$pfdin_font = 'PFDinDisplayPro'

// шрифт для заглавий
$h_font = $base_font

// значения шрифта для заглавий
$h_font = $base_font
$h1_size = unquote("18px/1.4")
$h1_padding = 5px 0 20px 0
$h2_size = unquote("16px/1.4")
$h2_padding = 5px 0 10px 0
$h3_size = 16px/1.4
$h4_size = unquote("16px/1.4")

// отступы для параграфов
$p_margin = 0 0 10px

//= Макет ====================================================================
$layout_width = 940px
$header_height = 110px
$footer_height = 350px
