.ads-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ads-list__item {
  width: 100%;
  margin-bottom: 40px;
  zoom: 1;
}
.ads-list__item:before,
.ads-list__item:after {
  content: "";
  display: table;
}
.ads-list__item:after {
  clear: both;
}
.ads-list__image {
  border: 1px solid #98a598;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
}
.ads-list__image-wrap {
  border-bottom: 1px solid #0c555d;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  float: left;
  margin-right: 15px;
  position: relative;
}
.ads-list__info-wrap {
  padding: 0 18px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ads-list__caption {
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
}
.ads-list__caption-link {
  font: bold 18px/1.2 'Sensation';
  text-decoration: underline;
}
.ads-list__caption-link:hover {
  text-decoration: none;
}
.ads-list__description {
  font-size: 14px;
  margin-bottom: 10px;
}
.ads-list__user-info {
  list-style: none;
  margin: 0;
  background: #ebf6eb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #0c555d;
  padding: 10px 15px;
  font-size: 14px;
  color: #0c555d;
  overflow: hidden;
}
.ads-list__user-item {
  float: left;
  width: 50%;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ads-list__user-item:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  background-repeat: no-repeat;
}
.ads-list__user-item A {
  text-decoration: none;
}
.ads-list__user-item_type_location:before {
  background-image: url("/img/_icons.png");
  background-position: -10px -822px;
  width: 16px;
  height: 16px;
}
.ads-list__user-item_type_user:before {
  background-image: url("/img/_icons.png");
  background-position: -10px -1398px;
  width: 16px;
  height: 16px;
}
.ads-list__user-item_type_phone:before {
  background-image: url("/img/_icons.png");
  background-position: -10px -1002px;
  width: 16px;
  height: 16px;
}
.ads-list__user-item_type_email:before {
  background-image: url("/img/_icons.png");
  background-position: -10px -1362px;
  width: 16px;
  height: 16px;
}
.ads-list__cost {
  background-image: url("/img/_icons.png");
  background-position: -10px -2735px;
  width: 169px;
  height: 32px;
  position: absolute;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  bottom: -17px;
  left: 50%;
  margin-left: -89px;
}
.ads-list__cost .rur {
  position: relative;
}
.ads-list__cost .rur:before {
  content: '';
  position: absolute;
  left: 0;
  right: 3px;
  height: 2px;
  background: #0c555d;
  top: 12px;
}
