.cars-slider__wrap {
  background: #ccdfcc;
  border-top: 2px solid #6e7c6e;
  border-bottom: 2px solid #6e7c6e;
  text-align: center;
  margin-top: 70px;
  height: 224px;
}
.cars-slider__slider {
  margin: 0 auto 20px;
  width: 860px;
  height: 167px;
  margin-top: -10px;
  position: relative;
  overflow: hidden;
  padding: 0 35px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.cars-slider__slider .flex-direction-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  top: 67px;
  position: absolute;
  left: 0;
  right: 0;
}
.cars-slider__slider .flex-direction-nav .flex-prev,
.cars-slider__slider .flex-direction-nav .flex-next {
  text-indent: -999px;
  overflow: hidden;
  display: block;
}
.cars-slider__slider .flex-direction-nav .flex-prev {
  background-image: url("/img/_icons.png");
  background-position: -10px -930px;
  width: 11px;
  height: 16px;
  float: left;
}
.cars-slider__slider .flex-direction-nav .flex-next {
  background-image: url("/img/_icons.png");
  background-position: -10px -858px;
  width: 11px;
  height: 16px;
  float: right;
}
.cars-slider__list {
  width: 1000%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}
.cars-slider__item {
  margin: 0 35px 0 0;
  width: 144px !important;
  display: block !important;
  float: left !important;
  padding: 0;
}
.cars-slider__item IMG {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.cars-slider__item .catalog-autoparts__caption {
  color: #6e7c6e;
}
