.subscription-bar {
  float: right;
  width: 222px;
}
.subscription-bar__header {
  font: bold 14px/1.6 'Sensation';
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  padding: 0 0 4px 10px;
}
.subscription-bar__header:before,
.subscription-bar__header:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 0;
  width: 155px;
}
.subscription-bar__header:before {
  background: #4e624e;
  bottom: 1px;
}
.subscription-bar__header:after {
  background: #ccdfcc;
}
.subscription-bar__form {
  margin: 16px 0 0 9px;
  z-index: 1;
  position: relative;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.subscription-bar__form-wrap {
  position: relative;
  height: 140px;
}
.subscription-bar__form-input-wrap {
  width: 210px;
  padding-bottom: 18px;
  position: relative;
}
.subscription-bar__form-input-wrap_type_email:before {
  position: absolute;
  content: '';
  left: 9px;
  top: 12px;
  background-image: url("/img/_icons.png");
  background-position: -10px -116px;
  width: 16px;
  height: 11px;
}
.subscription-bar__form-input-wrap_type_name:before {
  position: absolute;
  content: '';
  left: 12px;
  top: 11px;
  background-image: url("/img/_icons.png");
  background-position: -10px -376px;
  width: 12px;
  height: 13px;
}
.subscription-bar__form-input-wrap INPUT {
  border: 1px solid #4f5c4f;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-indent: 32px;
}
.subscription-bar__submit {
  border: 1px solid #032f37;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 32px;
  font: bold 17px/32px 'Sensation';
  padding: 0;
  width: 210px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px rgba(3,28,31,0.9);
  text-transform: uppercase;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  background: url("data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAABGAAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAEAwMDAwMEAwMEBgQDBAYHBQQEBQcIBgYHBgYICggJCQkJCAoKDAwMDAwKDAwNDQwMEREREREUFBQUFBQUFBQUAQQFBQgHCA8KCg8UDg4OFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wAARCAAgACADAREAAhEBAxEB/8QAYwABAQEBAQAAAAAAAAAAAAAAAQADBAgBAQEBAAMAAAAAAAAAAAAAAAABAgMGBxAAAgEDAwQDAAAAAAAAAAAAAAESETFRIUECYXGRwaEiExEBAQAAAAAAAAAAAAAAAAAAABH/2gAMAwEAAhEDEQA/APP06JPY7Q8wglrG3oEK5adyET5IUjD9NvRG4J0p1IQrn8blpFOzuCOaZmuWFc6ikE6d1chFPBSMlJXTZitwfbBasOuNckqQVeH4FWP/2Q==");
}
.subscription-bar__error {
  color: #fff !important;
  bottom: 2px;
}
.subscription-bar__success {
  margin: 0;
  position: absolute;
  top: 40px;
  left: 20px;
  right: 20px;
  z-index: 0;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.subscription-bar__success A:hover {
  text-decoration: none;
}
