$currency-down = -10px -10px 7px 4px
$currency-up = -10px -34px 7px 4px
$ribbon-corner = -10px -58px 8px 8px
$mail = -10px -86px 16px 10px
$input-email = -10px -116px 16px 11px
$slider-bubble = -10px -147px 10px 12px
$slider-bubble-active = -10px -179px 10px 12px
$checkbox-checked = -10px -211px 12px 13px
$paging-arrow-right = -10px -244px 13px 13px
$print = -10px -277px 16px 13px
$thumb-up = -10px -310px 15px 13px
$paging-arrow-left = -10px -343px 13px 13px
$input-people = -10px -376px 12px 13px
$combobox-arrow = -10px -409px 13px 13px
$checkbox = -10px -442px 12px 13px
$stars = -10px -475px 95px 14px
$clock = -10px -509px 14px 14px
$cross-out = -10px -543px 70px 14px
$tiles = -10px -577px 16px 14px
$minus = -10px -611px 13px 15px
$plus = -10px -646px 13px 15px
$breadcrumbs-home = -10px -681px 13px 15px
$point = -10px -716px 12px 15px
$bill = -10px -751px 14px 15px
$buy-fast = -10px -786px 15px 16px
$location = -10px -822px 16px 16px
$slider-small-arrow-right = -10px -858px 11px 16px
$plus-disabled = -10px -894px 13px 16px
$slider-small-arrow-left = -10px -930px 11px 16px
$breadcrumbs-separator = -10px -966px 13px 16px
$phone-small = -10px -1002px 16px 16px
$delete-small = -10px -1038px 16px 16px
$share = -10px -1074px 16px 16px
$minus-disabled = -10px -1110px 13px 16px
$button-list = -10px -1146px 16px 16px
$lock = -10px -1182px 13px 16px
$help = -10px -1218px 16px 16px
$footer-menu-bubble = -10px -1254px 16px 16px
$edit-small = -10px -1290px 16px 16px
$reply = -10px -1326px 16px 16px
$email-small = -10px -1362px 16px 16px
$user = -10px -1398px 16px 16px
$product-addition-sticker = -10px -1434px 7px 19px
$mail-big = -10px -1473px 28px 20px
$usercard = -10px -1513px 28px 21px
$tab-corner = -10px -1554px 11px 23px
$tab-corner-active = -10px -1597px 11px 23px
$point-active = -10px -1640px 12px 23px
$edit = -10px -1683px 24px 24px
$payment-methods = -10px -1727px 166px 24px
$address = -10px -1771px 17px 25px
$delete = -10px -1816px 26px 26px
$mouthpiece = -10px -1862px 31px 26px
$footer-mail = -10px -1908px 35px 27px
$schema-point-active = -10px -1955px 29px 27px
$schema-point = -10px -2002px 29px 27px
$cash = -10px -2049px 29px 27px
$schema-point-yes = -10px -2096px 29px 27px
$button-right-rail-light = -10px -2143px 10px 28px
$pickup = -10px -2191px 25px 28px
$button-left-rail-light = -10px -2239px 10px 28px
$phone-big = -10px -2287px 21px 29px
$button-buy = -10px -2336px 98px 29px
$basket = -10px -2385px 31px 29px
$cost-sticker = -10px -2434px 99px 29px
$button-buy-inactive = -10px -2483px 98px 29px
$ribbon-old-cost = -10px -2532px 93px 30px
$map-pointer = -10px -2582px 23px 30px
$zoom = -10px -2632px 30px 31px
$search-button = -10px -2683px 34px 32px
$ribbon-two-sided = -10px -2735px 169px 32px
$footer-phone = -10px -2787px 26px 32px
$btn-bg = -10px -2839px 220px 34px
$plus-big = -10px -2893px 34px 34px
$minus-big = -10px -2947px 34px 34px
$phone = -10px -3001px 32px 36px
$top-sticker = -10px -3057px 62px 37px
$new-sticker = -10px -3114px 62px 37px
$percent-sticker = -10px -3171px 62px 37px
$twitter-button = -10px -3228px 44px 40px
$basket-crumb-separator = -10px -3288px 13px 40px
$filter-arrow = -10px -3348px 15px 40px
$fb-button = -10px -3408px 44px 40px
$basket-crumb-separator-active = -10px -3468px 13px 40px
$vk-button = -10px -3528px 44px 40px
$paging-item = -10px -3588px 46px 40px
$basket-crumb-separator-lactive = -10px -3648px 13px 40px
$basket-crumb-separator-lastactive = -10px -3708px 13px 40px
$paging-item-active = -10px -3768px 46px 40px
$slider-arrow-right = -10px -3828px 23px 41px
$ribbon-red = -10px -3889px 221px 41px
$basket-crumb-last = -10px -3950px 13px 41px
$rail-linner = -10px -4011px 13px 41px
$cost-ribbon-big = -10px -4072px 176px 41px
$slider-arrow-left = -10px -4133px 23px 41px
$rail-rinner = -10px -4194px 13px 41px
$basket-ribbon-big = -10px -4255px 176px 41px
$rail-router = -10px -4316px 15px 42px
$index-slider-arrow-right = -10px -4378px 44px 51px
$index-slider-arrow-left = -10px -4449px 44px 51px
$cost-ribbon = -10px -4520px 205px 57px
$basket-ribbon = -10px -4597px 205px 58px
$basket-ribbon-disabled = -10px -4675px 205px 58px
$benefit-refund = -10px -4753px 76px 61px
$benefit-delivery = -10px -4834px 90px 61px
$ribbon-left = -10px -4915px 90px 62px
$ribbon-right = -10px -4997px 90px 62px
$ad-bar-cost = -10px -5079px 93px 69px
$benefit-visa = -10px -5168px 52px 71px
$benefit-panel = -10px -5259px 130px 147px
$benefit-panel-active = -10px -5426px 130px 147px

sprite-width($sprite)
  width $sprite[2]

sprite-height($sprite)
  height $sprite[3]

sprite-position($sprite)
  background-position $sprite[0]  $sprite[1]

sprite($sprite)
  sprite-position($sprite)
  background-repeat no-repeat
  overflow hidden
  display block
  sprite-width($sprite)
  sprite-height($sprite)

icons()
  background-image url('/img/_icons.png')

