icons-sprite($sprite, $sizes = true)
  icons()
  sprite-position($sprite)
  if ($sizes) {
    sprite-width($sprite)
    sprite-height($sprite)
  }

panels-sprite($sprite, $sizes = true)
  panels()
  sprite-position($sprite)
  if ($sizes) {
    sprite-width($sprite)
    sprite-height($sprite)
  }

social-sprite($sprite, $sizes = true)
  social()
  sprite-position($sprite)
  if ($sizes) {
    sprite-width($sprite)
    sprite-height($sprite)
  }

