.ad-panel
  display table

  &__link
    display table-cell
    vertical-align middle

  &__image
    display block
    max-width 210px
    margin 0 auto

  &_type_bordered
    border 1px solid #98A598
    border-radius 3px
    text-align center
    width 212px
    height 253px

  &_margin_bottom
    margin-bottom 20px
