.auth
  &__form
    overflow hidden
    clear both
    width 100%

  &__caption
    margin 0 0 15px
    padding 0
    text-transform uppercase
    font-size 12px
    font-weight bold
    color #6E7C6E

  &__fields-list
    margin 0
    padding 0
    list-style none
    width 90%

  &__label
    width 20%
    display inline-block
    text-align right
    font-weight bold

    &_type
      &_build
        width 7%!important

      &_flat
        width 5%!important

  &__form-input-wrap
    width 70%!important
    margin-left 10px!important

    &_type
      &_street
        width 41%!important
        margin-right 2%

      &_build
        width 9%!important

      &_flat
        width 8%!important

  &__separator
    background-color #6e7c6e
    border none
    border-bottom 1px solid #fff
    position relative
    height 1px
    margin 30px 0 15px
