.docs-list
  list-style none
  margin 0
  padding 0

  &__item
    font bold 18px/2 $addition_font

  &__link
    color #6e7c6e!important
    text-transform uppercase

    &:hover
      color #0c555d
      text-decoration none
