.important-info
  background #CCDFCC
  border-top 2px solid #6E7C6E
  padding-bottom 0
  clearfix()

  &__wrap
    margin 0 auto
    width $layout_width
    position relative
    padding-bottom 75px
    clearfix()
    z-index 1

    &:before
      background url('/img/man-and-cars.png') no-repeat
      width 780px
      height 216px
      position absolute
      bottom -48px
      right 136px
      z-index 3

  &__header
    top -22px

  &__content
    color #0c555d
    margin-top -25px
    font-size 14px
    width 697px
    min-height 220px
    overflow hidden
    margin-left 13px
    line-height 1.3
    float left

    P
      margin 8px 0
