.in-social-bar
  margin-left 13px

  &__header
    margin 0 0 0 12px
    text-transform uppercase
    color #FDFDFC
    line-height 1

  &__list
    margin 0
    padding 0
    list-style none

  &__item
    color #FDFDFC
    display inline-block

  &__link
    display block
    &_type_facebook
      icons-sprite($fb-button)

    &_type_twitter
      icons-sprite($twitter-button)

    &_type_vkontakte
      icons-sprite($vk-button)
