.logo
  display block
  text-decoration none
  text-align center
  line-height 1

  &:hover
    text-decoration none

  &__organization
    display none

  &__caption
    font bold 12px $addition_font
