.modal
  background #EBF6EB
  border 1px solid #6E7C6E
  width 700px
  display none
  padding 25px
  border-radius 3px
  box-sizing border-box

  &__form
    overflow hidden

  &__progress
    top -10px
