.news-bar
  float right
  width 230px
  margin-top -66px

  &__header
    padding-left 55px!important
    color #fff!important
    text-decoration none

    &:hover
      text-decoration underline

    &:after
      content ''
      position absolute
      top 9px
      left 10px
      icons-sprite($mouthpiece)

  &__list
    list-style none
    margin 0
    padding 0

  &__item
    margin 9px 0 9px 9px
    border-bottom 1px solid #6e7c6e
    clearfix()

    &:last-child
      border none

  &__item-image-link
    display block
    float left
    margin-right 5px
    position relative

    &:before
      position absolute
      content ''
      top 0
      left 0
      bottom 0
      right 0
      background url(/img/newsbar-overlay.png) no-repeat 0 0

  &__item-name
    float left
    width 155px
    margin 0 0 5px
    line-height 1.3
    font-size 14px

  &__item-date
    color #6e7c6e
    font normal 14px $addition_font

  &__item-link
    color #0c555d!important
    text-decoration none

    &:hover
      text-decoration underline
