.sticker
  position absolute
  top -14px
  left -11px
  overflow hidden
  color #fff
  line-height 31px
  font bold 14px/28px $addition_font
  text-shadow 0 1px rgba(0, 0, 0, 0.75)
  icons-sprite($percent-sticker)
  text-align center

  &_type_top
    text-indent - 100%
    icons-sprite($top-sticker)

  &_type_new
    text-indent - 100%
    icons-sprite($new-sticker)
