.typeahead
  &__item
    display block
    position relative
    text-decoration none
    padding 3px 15px
    overflow hidden

    &:hover
      background #EBF6EB

  &__image
    float left
    margin-right 15px
    min-height 65px
    min-width 89px
    position relative

    IMG
      display block
      margin 0 auto

  &__caption
    width 55%
    display inline-block
    overflow hidden
    white-space nowrap
    margin 4px 0 0

  &__text
    margin 0
    line-height 1.3

  &__car
    position absolute
    top 7px
    right 15px
    font-weight bold
    color #6E7C6E
    line-height 1

  &__not-presence
    font-size 12px
    text-align center
    position absolute
    bottom 0
    left 0
    right 0
    color #999
    font-weight bold

.tt-dropdown-menu
  top 100%!important
  background #fff
  width 160%
  border-radius 3px
  border 1px solid #98A598

.tt-hint
  color: #999

.tt-suggestion.tt-cursor
  background #EBF6EB
