@font-face {
  font-family: 'Sensation';
  src: url("/fonts/sansation_regular.eot");
  src: url("/fonts/sansation_regular.eot?#iefix") format('embedded-opentype'), url("/fonts/sansation_regular.svg#sansation") format('svg'), url("/fonts/sansation_regular.woff") format('woff'), url("/fonts/sansation_regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sensation';
  src: url("/fonts/sansation_bold.eot");
  src: url("/fonts/sansation_bold.eot?#iefix") format('embedded-opentype'), url("/fonts/sansation_bold.svg#sansation") format('svg'), url("/fonts/sansation_bold.woff") format('woff'), url("/fonts/sansation_bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Sensation';
  src: url("/fonts/sansation_italic.eot");
  src: url("/fonts/sansation_italic.eot?#iefix") format('embedded-opentype'), url("/fonts/sansation_italic.svg#sansation") format('svg'), url("/fonts/sansation_italic.woff") format('woff'), url("/fonts/sansation_italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PFDinDisplayPro';
  src: url("/fonts/pfdindisplaypro_regular.eot");
  src: url("/fonts/pfdindisplaypro_regular.eot?#iefix") format('embedded-opentype'), url("/fonts/pfdindisplaypro_regular.woff") format('woff'), url("/fonts/pfdindisplaypro_regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
HTML {
  min-height: 100%;
}
BODY {
  color: #6e7c6e;
  font: 0.813em/1.6 'Sensation';
}
.body-wrap {
  padding: 0 0 350px;
  position: relative;
  min-height: 100%;
}
A {
  color: #0c555d;
}
A:hover {
  color: #0c555d;
  text-decoration: none;
}
A:active {
  color: #0c555d;
}
A:visited {
  color: #0c555d;
}
A:focus {
  color: #0c555d;
}
H1 {
  font: normal 18px/1.4 'Sensation';
  color: #0c555d;
  padding: 5px 0 20px 0;
  margin: 0;
}
H2 {
  font: normal 16px/1.4 'Sensation';
  color: #0c555d;
  padding: 5px 0 10px 0;
  margin: 0;
}
H3,
H4,
H5 {
  font-family: 'Sensation';
  font-weight: normal;
}
::-moz-selection {
  background: #0c555d;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #0c555d;
  color: #fff;
  text-shadow: none;
}
.__hidden {
  display: none;
}
.__disabled {
  pointer-events: none;
  cursor: default;
}
