INPUT {
  line-height: 32px;
  border: 1px solid #9faf9f;
  border-bottom: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
::-webkit-input-placeholder {
  color: #6e7c6e;
}
:-moz-placeholder {
  color: #6e7c6e;
}
::-moz-placeholder {
  color: #6e7c6e;
}
:-ms-input-placeholder {
  color: #6e7c6e;
}
